@charset "UTF-8";
/*変数*/
:root {
  --mainColor: #1F448B;
  --subColor: #397FAC;
  --accentColor: #E8A932;
  --fontColor: #272C34;
  --backPaleGray: #B7BDC8;
  --backGray: #666F81;
  --backPaleBlue: #EBF3FF;
  --white: #fff;
  --xl: 40px;
  --l: 28px;
  --lm: 24px;
  --m: 20px;
  --ms: 16px;
  --s: 12px;
}

/*base*/
html {
  font-size: var(--ms);
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
}

/*Block*/
/*機能としてのブロック*/
@media (max-width: 1024px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media (max-width: 1024px) {
  .sp {
    display: block;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover, .btn:focus {
  text-decoration: underline;
  opacity: .8;
}

.btn--head {
  background: var(--accentColor);
  height: 48px;
  width: 200px;
}

.btn--cv {
  background: var(--accentColor);
  height: 80px;
  width: 320px;
  font-size: var(--lm);
  margin: 0 auto;
}

.btn--etc {
  background: var(--subColor);
  height: 80px;
  width: 400px;
  font-size: var(--l);
  margin: 0 auto;
}

.ttl {
  position: relative;
  font-size: var(--xl);
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  z-index: 1;
}

.ttl--func::after {
  content: "";
  position: absolute;
  top: calc(50% + 0.2em);
  left: 50%;
  transform: translateX(-50%);
  background: #387caa;
  background: linear-gradient(90deg, #387caa 0%, #56a7bf 60.58%, #62b8c7 84.397%, #6ac3cc 100%);
  height: 20px;
  padding: 0 1em;
  z-index: -1;
}

.ttl--room::after {
  width: 8em;
}

.ttl--chat::after {
  width: 10em;
}

.ttl--schedule::after {
  width: 12em;
}

.ttl--vr {
  color: var(--white);
}

.ttl--vr::after {
  width: 6em;
}

.ttl--etcOpen::after {
  width: 12em;
}

.subTtl {
  font-size: var(--l);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card--plan {
  flex-wrap: nowrap;
}

.card__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.card__item {
  max-width: 520px;
  width: calc(50% - 40px);
}

.card__item:nth-child(-n+2) {
  margin-bottom: 40px;
}

.card__item:nth-child(odd) {
  margin-right: 80px;
}

.card__imgBox {
  width: 100%;
}

.card__img {
  width: 100%;
}

.card__textBox {
  background: var(--mainColor);
  min-height: 160px;
  padding: 12px;
  color: var(--white);
}

.card__ttl {
  font-size: var(--lm);
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.card__text {
  font-size: var(--m);
}

.card--vr .card__textBox {
  background: var(--subColor);
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

/*list、item*/
.list {
  list-style: none;
}

/*nav系*/
.nav {
  display: flex;
}

.navList {
  display: flex;
  list-style: none;
}

.navLink {
  cursor: pointer;
  text-decoration: none;
  color: var(--fontColor);
}

.navLink:hover, .navLink:focus {
  text-decoration: underline;
  opacity: .8;
}

/*footerとheader*/
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 120px;
  background: var(--white);
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.header--sp {
  display: none;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__navItem {
  margin-right: calc((40 / 1920)* 100vw);
  font-size: var(--m);
}

.footer {
  background: var(--backGray);
  color: var(--white);
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.footer__company {
  font-size: var(--lm);
}

.footer__navItem {
  margin-right: calc((40 / 1920)* 100vw);
}

.footer__navLink {
  color: var(--white);
}

.footer__copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

/*.header--spの子要素に使用*/
/*レイアウトとしてのblock、block&__element、block&__element&--modifier もしくはblock&--modifier*/
.sec {
  min-height: 100vh;
  padding: 80px 0;
}

.sec--mv {
  min-height: auto;
  height: 100vh;
  padding: 0;
  background: url(../img/mv_back.png);
  position: relative;
  overflow-x: hidden;
}

.sec--lead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/lead_back.png);
  background-size: 1600px 1200px;
  animation: bg-Loop 60s linear infinite;
  z-index: -2;
  color: var(--white);
}

.sec--lead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.sec--problem {
  background: var(--backGray);
  color: var(--white);
}

.sec--about {
  min-height: 50vh;
  background-color: #387caa;
  background-image: radial-gradient(at 10% 100%, #6ac3cc 0px, transparent 50%), radial-gradient(at 90% 100%, #387caa 0px, transparent 50%), radial-gradient(at 90% 10%, #6ac3cc 0px, transparent 50%);
  color: var(--white);
}

.sec--chat {
  background: var(--backPaleBlue);
}

.sec--schedule {
  min-height: 50vh;
}

.sec--vr {
  min-height: 50vh;
  background-color: #1f344c;
  background-image: radial-gradient(at 10% 100%, #1f6860 0px, transparent 50%), radial-gradient(at 90% 100%, #1f344c 0px, transparent 50%), radial-gradient(at 90% 10%, #1f6860 0px, transparent 50%);
  color: var(--white);
}

.sec--etc {
  min-height: 50vh;
}

.sec--cv {
  min-height: 50vh;
}

.sec--cv01 {
  background: var(--backPaleBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec--plan {
  min-height: 50vh;
  background: var(--backPaleBlue);
}

/*blockがセクション名（mv、problemなど）*/
.mv__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  object-fit: cover;
}

.mv__title {
  position: absolute;
  top: 200px;
  left: 40px;
  transform: rotate(-9.75deg);
  font-size: 120px;
  line-height: 1.25;
  color: var(--white);
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  letter-spacing: -0.1em;
}

.mv__text {
  position: absolute;
  font-size: var(--xl);
  bottom: 40px;
  right: 40px;
  color: var(--white);
  letter-spacing: -0.08em;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  "MS Pゴシック", "MS PGothic", sans-serif;
}

.problem__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.problem__boxOffice {
  position: relative;
  width: calc((100% - 27px) / 2);
}

.problem__boxRemote {
  position: relative;
  width: calc((100% - 27px) / 2);
}

.problem__text {
  text-align: center;
  font-size: var(--xl);
  font-weight: bold;
}

.problemBoxOffice__img--people {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 480px;
}

.problemBoxOffice__img--balloon01 {
  position: absolute;
  top: 0;
  left: 0;
}

.problemBoxOffice__img--balloon02 {
  position: absolute;
  top: 10px;
  right: 40px;
}

.problemBoxOffice__img--balloon03 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.problemBoxRemote__img--people {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 480px;
}

.problemBoxRemote__img--balloon01 {
  position: absolute;
  top: 0;
  right: 0;
}

.problemBoxRemote__img--balloon02 {
  position: absolute;
  top: 14px;
  left: 60px;
}

.problemBoxRemote__img--balloon03 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.again__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.again__boxOffice, .again__boxRemote {
  position: relative;
  width: calc((100% - 27px) / 2);
}

.again__text {
  text-align: center;
  font-size: var(--lm);
  margin-bottom: 40px;
}

.againBoxOffice__img--people {
  margin-right: auto;
  max-width: 470px;
  display: block;
}

.againBoxRemote__img--people {
  margin-left: auto;
  max-width: 490px;
  display: block;
}

.about__text {
  font-size: var(--lm);
  text-align: center;
}

.cv01__ttl {
  font-size: var(--l);
}

.cv01__ttl--large {
  font-size: var(--xl);
}

/*忘れずにvoice　入れること*/
/*block--modifireから子孫のblock__elementを変更*/
.card--plan .card__list {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.card--plan .card__item {
  background: var(--white);
  width: calc((100% - 100px) / 3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 320px;
}

.card--plan .card__item:nth-child(odd) {
  margin-right: 0;
}

.card--plan .card__item:nth-child(-n+2) {
  margin-bottom: 0;
}
