@charset "utf-8";
/*変数*/
:root{
  --mainColor: #1F448B;
  --subColor:#397FAC;
  --accentColor: #E8A932;
  --fontColor: #272C34;
  --backPaleGray: #B7BDC8;
  --backGray: #666F81;
  --backPaleBlue: #EBF3FF;
  --white: #fff;
  --xl: 40px;
  --l: 28px;
  --lm :24px;
  --m :20px;
  --ms :16px;
  --s: 12px;
}
$lt: 1280px;
$miniLt: 1024px;
$tb: 768px;
$miniTb: 600px;
$spPlus: 428px;
$sp: 375px;


@mixin btn--head{
  background: var(--accentColor);
  height: 48px;
  width: 200px;
  @media (max-width:1024px)
  {
    height: 80px;
    max-width: 320px;
    width: 100%;
    font-size: var(--lm);
    margin: 0 auto;
  }
}
@mixin btn--cv{
  background: var(--accentColor);
  height: 80px;
  max-width: 320px;
  width: 100%;
  font-size: var(--lm);
  margin: 0 auto;
}
@mixin btn--etc{
  background: var(--subColor);
  height: 80px;
  max-width: 400px;
  width: 100%;
  font-size: var(--l);
  margin: 0 auto;
}
@mixin btn--plan{
  background: var(--mainColor);
  height: 50px;
  width: 185px;
  margin: 0 auto;
}

/*base*/
html{
  font-size: var(--ms);
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
}

/*Block*/
/*機能としてのブロック*/
.pc{
  @media (max-width:$tb){
    display: none;
  }
}
.tb{
  display: none;
  @media (max-width:$tb){
    display: block;
  }
}
.sp{
  display: none;
  @media (max-width:$spPlus){
    ditblay: block;
  }
}
.br{
  &--sp{
    display: none;
    @media(max-width:$sp){
      display: inline;
    }
  }
  &--spPlus{
    display: none;
    @media(max-width:$spPlus){
      display: inline;
    }
  }
  &--miniTb{    
    display: none;
    @media(max-width:$miniTb){
      display: inline;
    }
  }
  &--tb{    
    display: none;
    @media(max-width:$tb){
      display: inline;
    }
  }
  &--miniLt{    
    display: none;
    @media(max-width:$miniLt){
      display: inline;
    }
  }
  &--noSp{    
    @media(max-width:$spPlus){
      display: none;
    }
  }
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
  &:hover, &:focus {
    text-decoration: underline;
    opacity: .8;
  }
  &--head{
    @include btn--head;
    //1024px以下はheadar-menu内に格納されている
  }
  &--cv{
    @include btn--cv;
  }
  &--etc{
    @include btn--etc;
  }
  &--plan{
    @include btn--plan;
  }
}
.ttl{
  position: relative;
  font-size: var(--xl);
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  z-index: 1;
  @media(max-width: $miniTb){
    font-size: var(--l);
  }
  @media(max-width: $spPlus){
    font-size: var(--lm);
  }
  &--func{
    &::after{
      content:"";
      position: absolute;
      top: calc(50% + 0.2em);
      left: 50%;
      transform: translateX(-50%);
      background: rgb(56,124,170);
      background: linear-gradient(90deg, rgba(56,124,170,1) 0%, rgba(86,167,191,1) 60.58%, rgba(98,184,199,1) 84.397%, rgba(106,195,204,1) 100%); 
      height: 20px;
      padding: 0 1em;
      z-index: -1;
      @media(max-width: $spPlus){
        width: 100%;
      }
    }

  }
  &--room{
    &::after{
      width: 8em;
      @media(max-width: $spPlus){
        width: 100%;
      }
    }

  }
  &--chat{
    &::after{
      width:10em;
      @media(max-width: $spPlus){
        width: 100%;
      }
    }
  }
  &--schedule{
    &::after{
      width:12em;
      @media(max-width: $spPlus){
        width: 100%;
      }
    }
  }
  &--vr{
    color: var(--white);
    &::after{
      width:6em;
      @media(max-width: $spPlus){
        width: 100%;
      }
    }
  }
  &--etcOpen{
    &::after{
      width:12em;
      @media(max-width: $spPlus){
        width: 100%;
      }
    }
  }
}
.subTtl {
  font-size: var(--l);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  @media(max-width: $miniTb){
    font-size: var(--lm);
  }
}
.card{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: $tb){
    flex-flow: column;

  }
  &--plan{
    flex-wrap: nowrap;
  }
  &__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    width: 100%;
    @media (max-width: $tb){
      flex-flow: column;
      align-items: center;
    }
  }
  &__item{
    max-width:520px;
    width: calc(50% - 20px);
    @media (max-width: $tb){
      max-width: 600px;
      width: 100%;
      margin: 0 auto 40px;
     }
    &:nth-child(-n+2){
      margin-bottom: 40px;
      @media (max-width: $tb){
        margin: 0 auto 40px;
      }
    }
    &:nth-child(odd){
      margin-right: 40px;
      @media (max-width: $tb){
        margin: 0 auto 40px;
      }
    }
    &:last-child{
    @media (max-width: $tb){
      margin: 0 auto;
    }
    }
  }
  &__imgBox{
    width: 100%;
  }
  &__img{
    width: 100%;
  }
  &__textBox{
    background: var(--mainColor);
    min-height:160px;
    padding: 12px;
    color: var(--white);
  }
  &__ttl{
    font-size: var(--lm);
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
    @media(max-width: $miniLt){
      font-size: var(--m);
    }
    @media(max-width: $tb){
      font-size: var(--lm);
    }
    @media(max-width: $spPlus){
      font-size: var(--m);
    }
  }
  &__text{
    font-size: var(--m);
    @media(max-width: $miniLt){
      font-size: var(--ms);
    }
    @media(max-width: $tb){
      font-size: var(--m);
    }
    @media(max-width: $spPlus){
      font-size: var(--ms);
    }
  }
}
.card--vr {
  .card__textBox{
    background: var(--subColor);
  }
}

.icon{
  &--hamburger{
    background: transparent;
    cursor: pointer;
    padding-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    z-index: 199;
  }
  &--close{
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    height: 64px;
    width: 64px;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 200;
    border: none;
  }
  &__bar{
  }

}
.icon--hamburger{
  border: none;

  .icon__bar{
    background: var(--mainColor);
    display: block;
    height: 8px;
    position: absolute;
    top: 40%;
    right: 0;
    width: 40px;
    &:before, &:after{
      content: "";
      background: var(--mainColor);
      height: 100%;
      left: 50%;
      margin: 0 0 0 -50%;
      position: absolute;
      top: 50%;
      width: 100%;
    }
    &::before{
      margin-top: -48%;
    }
    &::after{
      margin-top: 28%;
    }
  }
}
.icon--close{
  .icon__bar{
    width: 24px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: bottom;
    &:before, &:after{
      display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 42px;
    margin: -76% 0 0 -10%;
    background: var(--white);
    }
    &::before{
      transform: rotate(-45deg);
    }
    &::after{
      transform: rotate(45deg);
    }
  }
}
.container{
  max-width: 1160px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
/*list、item*/
.list {
  list-style: none;
}
/*nav系*/
.nav {
  display: flex;
}
.navList {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navItem {
}
.navLink {
  cursor: pointer;
  text-decoration: none;
  color: var(--fontColor);
&:hover, &:focus {
  text-decoration: underline;
  opacity: .8;
}
}

/*footerとheader*/
.header{
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 120px;
  background: var(--white);
  width: 100%;
  padding: 20px 40px; 
  box-sizing: border-box;
  @media(max-width: $miniLt){
    display: none;
  }
  &--sp{
    display: none;
    @media(max-width: $miniLt){
      display: flex;
      align-items: center;
      height: 64px;
      width: 100%;
      padding: 8px 20px;
    }
  }
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__logo{

  }
  &__logoLink{

  }
  &__logoImg{

  }
  &__nav{
  }
  &__navList{
    padding-left: calc((40 / 1920)* 100vw);
    @media(max-width: $lt){
      padding-left: calc((20 / 1920)* 100vw);
    }
  }
  &__navItem{
    margin-right: calc((40 / 1920)* 100vw);
    font-size: var(--m);
    @media(max-width: $lt){
      margin-right: calc((20 / 1920)* 100vw);
      font-size: var(--ms);
    }
  }
  &__navLink{

  }
}
/*.header--spの子要素に使用*/
.header--sp {
  .header__logo{
    width: 200px;
  }

  .header__menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0;
    visibility: hidden;

    width: 100vw;
    min-height: 100vh;
    padding: 104px 40px 40px 40px ;
    background: var(--subColor);
    &.is-open{
      animation: hamburger-open .5s ease;
      opacity: 1;
      visibility: visible;

    }
  }

  .header__nav{
    flex-flow: column;
  }
  .header__navList{
    flex-flow: column;
    align-items: center;
  }
  .header__navItem{
    margin:0 auto 1.5em;
    font-size: var(--lm);
  }
  .header__navLink{
    color: var(--white);
  }

}




.footer{
  background: var(--backGray);
  color: var(--white);
  @media(max-width: $tb){
    padding: 40px 20px;
  }
  &__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media(max-width: $miniLt){
    height: 80px;
    padding: 0;
  }
  @media(max-width: $tb){
    height: auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  }
  &__company{
    font-size: var(--lm);
    font-weight: bold;

    @media(max-width: $tb){
      margin-bottom: 1em;
    }
  }
  &__nav{

  }
  &__navList{
    padding-left: calc((16 / 1920)* 100vw);
    @media(max-width: $tb){
      padding-left: 0;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    }
  }
  &__navItem{
    @media(max-width: $miniLt){
      font-size: 14px;
    }
    @media(max-width: $tb){
      font-size: var(--ms);
    }
  }
  &__navItem:not(:last-child){
    margin-right: calc((40 / 1920)* 100vw);
    @media(max-width: $miniLt){
      margin-right: calc((16 / 1920)* 100vw);
    }
    @media(max-width: $tb){
      margin-left: 0;
      margin-bottom: 1em;
    }
  }
  &__navLink{
    color: var(--white);

  }
  &__copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    @media(max-width: $miniLt){
      font-size: var(--s);
    }
    @media(max-width: $tb){
      font-size: var(--ms);
      padding: 40px 0 0;
    }
  }
}



/*レイアウトとしてのblock、block&__element、block&__element&--modifier もしくはblock&--modifier*/
.sec{
  min-height: 100vh;
  padding: 80px 0;
  @media(max-width: $spPlus){
    padding: 40px 0;
  }
  &--mv{
    min-height: auto;
    height: 100vh;
    padding: 0;
    background: url(../img/mv_back.png);
    position: relative;
    overflow-x: hidden;
  }
  &--lead{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
      background-image: url(../img/lead_back.png);
      background-size: 1600px 1200px;
      animation: bg-Loop 60s linear infinite;
     z-index:-2;
     color: var(--white);
    &::before{
      content:"";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:  rgba(0,0,0,0.25);
      z-index:-1;
    }
  }
 
  &--problem{
    background: var(--backGray);
    color: var(--white);


  }
  &--again{

  }
  &--about{
    min-height: 50vh;

    background-color:#387caa;
background-image:
radial-gradient(at 10% 100%, #6ac3cc 0px, transparent 50%),
radial-gradient(at 90% 100%, #387caa 0px, transparent 50%),
radial-gradient(at 90% 10%, #6ac3cc 0px, transparent 50%);
    color: var(--white);
  }
  &--room{

  }
  &--chat{
    background: var(--backPaleBlue);
  }
  &--schedule{
    min-height: 50vh;
  }
  &--vr{
    min-height: 50vh;
    background-color:#1f344c;
    background-image:
    radial-gradient(at 10% 100%, #1f6860 0px, transparent 50%),
    radial-gradient(at 90% 100%, #1f344c 0px, transparent 50%),
    radial-gradient(at 90% 10%, #1f6860 0px, transparent 50%);
        color: var(--white);
  }
  &--etc{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--etcOpen{

  }
  &--cv{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    @media(max-width: spPlus){
      padding: 40px 0;
     
    }
  }
  &--cv01{
    background: var(--backPaleBlue);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--voice{
  
  }
  &--plan {
    min-height: 50vh;
    background: var(--backPaleBlue);
  }
}
/*blockがセクション名（mv、problemなど）*/

.mv{
  &__img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height :100vh;
    object-fit: cover;
    }
    &__title{
      position: absolute;
      top: 140px;
      left: 20px;
      transform:rotate(-9.75deg);
      transform-origin: top right;
      font-size: 120px;
      line-height: 1.25;
      color: var(--white);
      font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  "MS Pゴシック", "MS PGothic", sans-serif;
      font-weight: bold;
      letter-spacing: -0.1em;
      z-index:10;
      @media(max-width: 1400px){
        font-size: 100px;
      }
      @media(max-width: $lt){
        font-size: 80px;
      }
      @media(max-width: $miniLt){
        top: 84px;
        font-size: 64px;
      }
      @media(max-width: $miniTb){
        top: 80px;
        left: 0;
        font-size: 56px;
      }
      @media(max-width: $spPlus){
        font-size: 48px;
      }
      @media(max-width: $sp){
        font-size: 40px;
      }
    }
    &__text{
      position: absolute;
      font-size: var(--xl);
      bottom: 40px;
      right: 40px; 
      color: var(--white);
      letter-spacing: -0.08em;
      font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  "MS Pゴシック", "MS PGothic", sans-serif;
      @media(max-width: $miniLt){
        font-size: var(--l);
        bottom: 20px;
        right: 20px; 
      }
      @media(max-width: $miniTb){
        font-size: var(--lm);
      }
      @media(max-width: $spPlus){
        font-size: var(--m);
      }
    }
}

.problem {
  &__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    @media(max-width:$tb){
      flex-flow: column;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 40px;
    }
  }
  &__boxOffice{
    position: relative;
    width: calc((100% - 27px) / 2);
    @media(max-width:$tb){
      width: 100%;
    }
  }
  &__boxRemote{
    position: relative;
    width: calc((100% - 27px) / 2);
    @media(max-width:$tb){
      width: 100%;
    }
  }
  &__text{
    text-align: center;
    font-size: var(--xl);
    font-weight: bold;
    @media(max-width:$miniTb){
      font-size: var(--l);
     }
     @media(max-width:$spPlus){
      font-size: var(--lm);
     }
  }
}
.problemBoxOffice__img{
  &--people{
    position: absolute;
    bottom: 0;
    left:0;
    max-width: 480px;
    width: calc(100% - 50px); 
  }
  &--balloon01{
    position: absolute;
    top: 0;
    left: 0;
  }
  &--balloon02{
    position: absolute;
    top: 10px;
    right: 40px;
    @media(max-width:$miniLt){
      top: calc(10px + 15%);
      right: 30px;
      width: calc(50% - 30px);
     }
  }
  &--balloon03{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    @media(max-width:$lt){
      top: calc(50% + 10px);
      width: calc(50% - 20px);
    }
    @media(max-width:$miniLt){
      top: auto;
      bottom: 16%;  
     }
  }
  &--balloonTb{
    max-width: 670px;
    width: 100%;
    margin:  0 auto 40px;
  }

  
}
.problemBoxRemote__img{
  &--people{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 480px;
    width: calc(100% - 50px);
  }
  &--balloon01{
    position: absolute;
    top: 0;
    right: 0;
  }
  &--balloon02{
    position: absolute;
    top: 14px;
    left: 60px;
    @media(max-width:$miniLt){
      top: calc(14px + 15%);
      left: 40px;
      width: calc(50% - 30px);
     }
  }
  &--balloon03{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    @media(max-width:$lt){
      top: calc(50% + 10px);
      width: calc(50% - 20px);
    }
    @media(max-width:$miniLt){
      top: auto;
      bottom: 16%; 
     }
  }
  &--balloonTb{
    max-width: 670px;
    width: 100%;
    margin: 40px auto 0;
  }

}
.again {
  @media (max-width: $tb){
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
    &--pc{
      @media (max-width: $tb){
      display: none;
      }
    }
  }
  &__boxOffice, &__boxRemote{
    position: relative;
    width: calc((100% - 27px) / 2);
  }
  &__text{
    text-align: center;
    font-size: var(--lm);
    margin-bottom: 40px;
    @media (max-width: $miniTb){
      font-size: var(--m);
      }
  }

}
.againBoxOffice__img{
  &--people{
    margin-right: auto;
    max-width: 490px;
    width: calc(100% - 20px);
    display: block;
  }
}
.againBoxRemote__img{
  &--people{
    margin-left: auto;
    max-width: 490px;
    width: calc(100% - 20px);
    display: block;

  }
}
.about{
  &__text{
    font-size: var(--lm);
    text-align: center;
    @media (max-width: $miniTb){
      font-size: var(--m);
      }
     
  }
}
.cv{
  &__ttl{
    font-size: var(--xl);
    @media(max-width: $miniLt){
      font-size: var(--l);
    }
    @media(max-width: $miniTb){
      font-size: var(--lm);
    }
    &--02{
    @media(max-width: $sp){
      font-size: var(--m);
    }
  }
    &--large{
      font-size: 1.5em;
    }
  }
}
.card__img {
  &--border{
    border-width: 1px 1px 0 1px;
    border-color: #B7BDC8;
    border-style: solid;
  }
}
.voice {
  &__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    &--02{
      flex-flow: row-reverse;
      @media(max-width: $tb){
        flex-flow: column;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
    @media(max-width: $tb){
      flex-flow: column;
      margin-bottom: 40px;
    }
  }
  &__imgBox, &__textBox{
    max-width: 520px;
    width: calc((100% - 40px) / 2);
    @media(max-width: $miniLt){
      width: calc((100% - 20px) / 2);
    }
    @media(max-width: $tb){
      width: 100%;
      max-width: 670px;
      margin: 0 auto;
    }
  }
  &__imgBox{
    margin-right: 40px;
    &--02{
      margin-right:0;
    }
    @media(max-width: $miniLt){
      margin-right: 20px;
      &--02{
        margin-right:0;
      }
    }
    @media(max-width: $tb){
     margin: 0 auto 20px;
    }
  }
  &__textBox--02{
    margin-right: 40px;
    @media(max-width: $miniLt){
      margin-right: 20px;
    }
    @media(max-width: $tb){
      margin: 0 auto 20px;
    }
  }
  &__head{
    font-size: var(--l);
    margin-bottom: 0.5em;
    @media(max-width: $miniLt){
      font-size: 22px;
    }
    @media(max-width: $tb){
      font-size: var(--l);
    }
    @media(max-width: $miniTb){
      font-size: 22px;
    }
    @media(max-width: $spPlus){
      letter-spacing: -0.05em;
    }
  }
  &__company{
    font-size: var(--lm);
    margin-bottom: 0.5em;
    display: inline-block;
    @media(max-width: $miniLt){
      font-size: var(--m)
    }
    @media(max-width: $tb){
      font-size: var(--lm);
    }
    @media(max-width: $miniTb){
      font-size: var(--m)
    }
  }
  &__plan{
    font-size: var(--ms);
    @media(max-width: $miniLt){
      font-size: 13px;
    }
    @media(max-width: $tb){
      font-size: var(--ms);
    }
    @media(max-width:$miniTb){
      font-size: 13px;
    }
  }
  &__text{
    font-size: var(--m);
    @media(max-width: $miniLt){
      font-size: var(--ms);
    }
    @media(max-width: $tb){
      font-size: var(--m);
    }
    @media(max-width: $miniTb){
      font-size: var(--ms);
    }
  }

}

/*block--modifireから子孫のblock__elementを変更*/
.card--plan {
  .card__list{
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    @media(max-width:$tb){
      justify-content: center;
    }
  }
  .card__item{
    background: var(--white);
    width:calc((100% - 100px) / 3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    max-width: 320px;
    min-height:320px;
    &:nth-child(odd){
      margin-right: 0;
      @media(max-width:$tb){
        margin-right: auto;
      }
    }
    &:nth-child(-n+2){
      margin-bottom: 0;
      @media(max-width:$tb){
      margin-bottom: 40px;
      }
    }
    &:last-child{
      @media(max-width:$tb){
        margin-bottom: 0;
        }
    }
    @media(max-width:$lt){
      width: calc((100% - 40px) / 3);
    }
    @media(max-width:$miniLt){
      min-height: 240px;
      padding:20px 10px;
    }
    @media(max-width:$tb){
      width: 100%;
      max-width: 400px;
      min-height: 400px;
      margin-bottom: 40px;
    }
    @media(max-width:$spPlus){
      min-height: 320px;
    }
  }
  .card__ttl{
    font-size: var(--l);
    margin-bottom: 10px;
    @media(max-width:$lt){
      font-size: var(--lm);
    }
    @media(max-width:$miniLt){
      font-size: var(--m);
    }
    @media(max-width:$tb){
      font-size: var(--lm);
    }
    @media(max-width:$sp){
      font-size: var(--m);
    }
  }
  .card__text{
    font-size: var(--m);
    margin-bottom: 8px;
    @media(max-width:$miniLt){
      font-size: var(--ms);
    }
    @media(max-width:$tb){
      font-size: var(--m);
    }
    @media(max-width:$sp){
      font-size: var(--ms);
    }
  }
  .card__price{
    font-size: var(--lm);
    margin-bottom: 10px;
    @media(max-width:$miniLt){
      font-size: var(--m);
    }
    @media(max-width:$tb){
      font-size: var(--lm);
    }
    @media(max-width:$sp){
      font-size: var(--m);
    }
  }
  .card__priceNumber{
    font-size: 36px;
    font-weight: bold;
    @media(max-width:$miniLt){
      font-size: var(--l);
    }
    @media(max-width:$tb){
      font-size: 36px;
    }
    @media(max-width:$sp){
      font-size: var(--l);
    }
  }
  .card__annotation{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 1rem;
  }
  
}