@charset "UTF-8";
/*変数*/
:root {
  --mainColor: #1F448B;
  --subColor: #397FAC;
  --accentColor: #E8A932;
  --fontColor: #272C34;
  --backPaleGray: #B7BDC8;
  --backGray: #666F81;
  --backPaleBlue: #EBF3FF;
  --white: #fff;
  --xl: 40px;
  --l: 28px;
  --lm: 24px;
  --m: 20px;
  --ms: 16px;
  --s: 12px;
}

/*base*/
html {
  font-size: var(--ms);
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
}

/*Block*/
/*機能としてのブロック*/
@media (max-width: 768px) {
  .pc {
    display: none;
  }
}

.tb {
  display: none;
}

@media (max-width: 768px) {
  .tb {
    display: block;
  }
}

.sp {
  display: none;
}

@media (max-width: 428px) {
  .sp {
    ditblay: block;
  }
}

.br--sp {
  display: none;
}

@media (max-width: 428px) {
  .br--sp {
    display: inline;
  }
}

.br--tb {
  display: none;
}

@media (max-width: 768px) {
  .br--tb {
    display: inline;
  }
}

.br--miniLt {
  display: none;
}

@media (max-width: 1024px) {
  .br--miniLt {
    display: inline;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover, .btn:focus {
  text-decoration: underline;
  opacity: .8;
}

.btn--head {
  background: var(--accentColor);
  height: 48px;
  width: 200px;
}

@media (max-width: 1024px) {
  .btn--head {
    height: 80px;
    max-width: 320px;
    font-size: var(--lm);
    margin: 0 auto;
  }
}

.btn--cv {
  background: var(--accentColor);
  height: 80px;
  max-width: 320px;
  width: 100%;
  font-size: var(--lm);
  margin: 0 auto;
}

.btn--etc {
  background: var(--subColor);
  height: 80px;
  max-width: 400px;
  width: 100%;
  font-size: var(--l);
  margin: 0 auto;
}

.btn--plan {
  background: var(--mainColor);
  height: 50px;
  width: 185px;
  margin: 0 auto;
}

.ttl {
  position: relative;
  font-size: var(--xl);
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  z-index: 1;
}

@media (max-width: 600px) {
  .ttl {
    font-size: var(--l);
  }
}

.ttl--func::after {
  content: "";
  position: absolute;
  top: calc(50% + 0.2em);
  left: 50%;
  transform: translateX(-50%);
  background: #387caa;
  background: linear-gradient(90deg, #387caa 0%, #56a7bf 60.58%, #62b8c7 84.397%, #6ac3cc 100%);
  height: 20px;
  padding: 0 1em;
  z-index: -1;
}

.ttl--room::after {
  width: 8em;
}

.ttl--chat::after {
  width: 10em;
}

.ttl--schedule::after {
  width: 12em;
}

.ttl--vr {
  color: var(--white);
}

.ttl--vr::after {
  width: 6em;
}

.ttl--etcOpen::after {
  width: 12em;
}

.subTtl {
  font-size: var(--l);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .subTtl {
    font-size: var(--lm);
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 768px) {
  .card {
    flex-flow: column;
  }
}

.card--plan {
  flex-wrap: nowrap;
}

.card__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .card__list {
    flex-flow: column;
    align-items: center;
  }
}

.card__item {
  max-width: 520px;
  width: calc(50% - 20px);
}

@media (max-width: 768px) {
  .card__item {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 40px;
  }
}

.card__item:nth-child(-n+2) {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .card__item:nth-child(-n+2) {
    margin: 0 auto 40px;
  }
}

.card__item:nth-child(odd) {
  margin-right: 40px;
}

@media (max-width: 768px) {
  .card__item:nth-child(odd) {
    margin: 0 auto 40px;
  }
}

.card__imgBox {
  width: 100%;
}

.card__img {
  width: 100%;
}

.card__textBox {
  background: var(--mainColor);
  min-height: 160px;
  padding: 12px;
  color: var(--white);
}

.card__ttl {
  font-size: var(--lm);
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

@media (max-width: 1024px) {
  .card__ttl {
    font-size: var(--m);
  }
}

@media (max-width: 768px) {
  .card__ttl {
    font-size: var(--lm);
  }
}

@media (max-width: 428px) {
  .card__ttl {
    font-size: var(--m);
  }
}

.card__text {
  font-size: var(--m);
}

@media (max-width: 1024px) {
  .card__text {
    font-size: var(--ms);
  }
}

@media (max-width: 768px) {
  .card__text {
    font-size: var(--m);
  }
}

@media (max-width: 428px) {
  .card__text {
    font-size: var(--ms);
  }
}

.card--vr .card__textBox {
  background: var(--subColor);
}

.icon--hamburger {
  background: transparent;
  cursor: pointer;
  padding-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  z-index: 199;
}

.icon--close {
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  width: 64px;
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 200;
  border: none;
}

.icon--hamburger {
  border: none;
}

.icon--hamburger .icon__bar {
  background: var(--mainColor);
  display: block;
  height: 8px;
  position: absolute;
  top: 40%;
  right: 0;
  width: 40px;
}

.icon--hamburger .icon__bar:before, .icon--hamburger .icon__bar:after {
  content: "";
  background: var(--mainColor);
  height: 100%;
  left: 50%;
  margin: 0 0 0 -50%;
  position: absolute;
  top: 50%;
  width: 100%;
}

.icon--hamburger .icon__bar::before {
  margin-top: -48%;
}

.icon--hamburger .icon__bar::after {
  margin-top: 28%;
}

.icon--close .icon__bar {
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: bottom;
}

.icon--close .icon__bar:before, .icon--close .icon__bar:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 42px;
  margin: -76% 0 0 -10%;
  background: var(--white);
}

.icon--close .icon__bar::before {
  transform: rotate(-45deg);
}

.icon--close .icon__bar::after {
  transform: rotate(45deg);
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/*list、item*/
.list {
  list-style: none;
}

/*nav系*/
.nav {
  display: flex;
}

.navList {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navLink {
  cursor: pointer;
  text-decoration: none;
  color: var(--fontColor);
}

.navLink:hover, .navLink:focus {
  text-decoration: underline;
  opacity: .8;
}

/*footerとheader*/
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 120px;
  background: var(--white);
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }
}

.header--sp {
  display: none;
}

@media (max-width: 1024px) {
  .header--sp {
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    padding: 8px 20px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__navList {
  padding-left: calc((40 / 1920)* 100vw);
}

@media (max-width: 1280px) {
  .header__navList {
    padding-left: calc((20 / 1920)* 100vw);
  }
}

.header__navItem {
  margin-right: calc((40 / 1920)* 100vw);
  font-size: var(--m);
}

@media (max-width: 1280px) {
  .header__navItem {
    margin-right: calc((20 / 1920)* 100vw);
    font-size: var(--ms);
  }
}

/*.header--spの子要素に使用*/
.header--sp .header__logo {
  width: 200px;
}

.header--sp .header__menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  min-height: 100vh;
  padding: 104px 40px 40px 40px;
  background: var(--subColor);
}

.header--sp .header__menu.is-open {
  animation: hamburger-open .5s ease;
  opacity: 1;
  visibility: visible;
}

.header--sp .header__nav {
  flex-flow: column;
}

.header--sp .header__navList {
  flex-flow: column;
  align-items: center;
}

.header--sp .header__navItem {
  margin: 0 auto 2em;
  font-size: var(--lm);
}

.header--sp .header__navLink {
  color: var(--white);
}

.footer {
  background: var(--backGray);
  color: var(--white);
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .footer__inner {
    height: 80px;
    padding: 0;
  }
}

.footer__company {
  font-size: var(--lm);
  font-weight: bold;
}

@media (max-width: 1280px) {
  .footer__company {
    font-size: var(--m);
  }
}

@media (max-width: 1024px) {
  .footer__company {
    font-size: var(--ms);
  }
}

.footer__navList {
  padding-left: calc((16 / 1920)* 100vw);
}

.footer__navItem:not(:last-child) {
  margin-right: calc((40 / 1920)* 100vw);
}

@media (max-width: 1024px) {
  .footer__navItem:not(:last-child) {
    margin-right: calc((16 / 1920)* 100vw);
    font-size: 14px;
  }
}

.footer__navLink {
  color: var(--white);
}

.footer__copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 1024px) {
  .footer__copyright {
    font-size: var(--s);
  }
}

/*レイアウトとしてのblock、block&__element、block&__element&--modifier もしくはblock&--modifier*/
.sec {
  min-height: 100vh;
  padding: 80px 0;
}

@media (max-width: 428px) {
  .sec {
    padding: 40px 0;
  }
}

.sec--mv {
  min-height: auto;
  height: 100vh;
  padding: 0;
  background: url(../img/mv_back.png);
  position: relative;
  overflow-x: hidden;
}

.sec--lead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/lead_back.png);
  background-size: 1600px 1200px;
  animation: bg-Loop 60s linear infinite;
  z-index: -2;
  color: var(--white);
}

.sec--lead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.sec--problem {
  background: var(--backGray);
  color: var(--white);
}

.sec--about {
  min-height: 50vh;
  background-color: #387caa;
  background-image: radial-gradient(at 10% 100%, #6ac3cc 0px, transparent 50%), radial-gradient(at 90% 100%, #387caa 0px, transparent 50%), radial-gradient(at 90% 10%, #6ac3cc 0px, transparent 50%);
  color: var(--white);
}

.sec--chat {
  background: var(--backPaleBlue);
}

.sec--schedule {
  min-height: 50vh;
}

.sec--vr {
  min-height: 50vh;
  background-color: #1f344c;
  background-image: radial-gradient(at 10% 100%, #1f6860 0px, transparent 50%), radial-gradient(at 90% 100%, #1f344c 0px, transparent 50%), radial-gradient(at 90% 10%, #1f6860 0px, transparent 50%);
  color: var(--white);
}

.sec--etc {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec--cv {
  min-height: 50vh;
}

.sec--cv01 {
  background: var(--backPaleBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec--plan {
  min-height: 50vh;
  background: var(--backPaleBlue);
}

/*blockがセクション名（mv、problemなど）*/
.mv__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  object-fit: cover;
}

.mv__title {
  position: absolute;
  top: 140px;
  left: 20px;
  transform: rotate(-9.75deg);
  transform-origin: top right;
  font-size: 120px;
  line-height: 1.25;
  color: var(--white);
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  letter-spacing: -0.1em;
  z-index: 10;
}

@media (max-width: 1400px) {
  .mv__title {
    font-size: 100px;
  }
}

@media (max-width: 1280px) {
  .mv__title {
    font-size: 80px;
  }
}

@media (max-width: 1024px) {
  .mv__title {
    top: 84px;
    font-size: 64px;
  }
}

@media (max-width: 600px) {
  .mv__title {
    top: 80px;
    left: 0;
    font-size: 56px;
  }
}

@media (max-width: 428px) {
  .mv__title {
    font-size: 48px;
  }
}

@media (max-width: 375px) {
  .mv__title {
    font-size: 40px;
  }
}

.mv__text {
  position: absolute;
  font-size: var(--xl);
  bottom: 40px;
  right: 40px;
  color: var(--white);
  letter-spacing: -0.08em;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",  "MS Pゴシック", "MS PGothic", sans-serif;
}

@media (max-width: 1024px) {
  .mv__text {
    font-size: var(--l);
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 600px) {
  .mv__text {
    font-size: var(--lm);
  }
}

@media (max-width: 428px) {
  .mv__text {
    font-size: var(--m);
  }
}

.problem__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .problem__box {
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.problem__boxOffice {
  position: relative;
  width: calc((100% - 27px) / 2);
}

@media (max-width: 768px) {
  .problem__boxOffice {
    width: 100%;
  }
}

.problem__boxRemote {
  position: relative;
  width: calc((100% - 27px) / 2);
}

@media (max-width: 768px) {
  .problem__boxRemote {
    width: 100%;
  }
}

.problem__text {
  text-align: center;
  font-size: var(--xl);
  font-weight: bold;
}

@media (max-width: 600px) {
  .problem__text {
    font-size: var(--l);
  }
}

.problemBoxOffice__img--people {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 480px;
  width: calc(100% - 50px);
}

.problemBoxOffice__img--balloon01 {
  position: absolute;
  top: 0;
  left: 0;
}

.problemBoxOffice__img--balloon02 {
  position: absolute;
  top: 10px;
  right: 40px;
}

@media (max-width: 1024px) {
  .problemBoxOffice__img--balloon02 {
    top: calc(10px + 15%);
    right: 30px;
    width: calc(50% - 30px);
  }
}

.problemBoxOffice__img--balloon03 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

@media (max-width: 1280px) {
  .problemBoxOffice__img--balloon03 {
    top: calc(50% + 10px);
    width: calc(50% - 20px);
  }
}

@media (max-width: 1024px) {
  .problemBoxOffice__img--balloon03 {
    top: auto;
    bottom: 16%;
  }
}

.problemBoxOffice__img--balloonTb {
  max-width: 670px;
  width: 100%;
  margin: 0 auto 40px;
}

.problemBoxRemote__img--people {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 480px;
  width: calc(100% - 50px);
}

.problemBoxRemote__img--balloon01 {
  position: absolute;
  top: 0;
  right: 0;
}

.problemBoxRemote__img--balloon02 {
  position: absolute;
  top: 14px;
  left: 60px;
}

@media (max-width: 1024px) {
  .problemBoxRemote__img--balloon02 {
    top: calc(14px + 15%);
    left: 40px;
    width: calc(50% - 30px);
  }
}

.problemBoxRemote__img--balloon03 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

@media (max-width: 1280px) {
  .problemBoxRemote__img--balloon03 {
    top: calc(50% + 10px);
    width: calc(50% - 20px);
  }
}

@media (max-width: 1024px) {
  .problemBoxRemote__img--balloon03 {
    top: auto;
    bottom: 16%;
  }
}

.problemBoxRemote__img--balloonTb {
  max-width: 670px;
  width: 100%;
  margin: 40px auto 0;
}

@media (max-width: 768px) {
  .again {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.again__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .again__box--pc {
    display: none;
  }
}

.again__boxOffice, .again__boxRemote {
  position: relative;
  width: calc((100% - 27px) / 2);
}

.again__text {
  text-align: center;
  font-size: var(--lm);
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .again__text {
    font-size: var(--m);
  }
}

.againBoxOffice__img--people {
  margin-right: auto;
  max-width: 490px;
  width: calc(100% - 20px);
  display: block;
}

.againBoxRemote__img--people {
  margin-left: auto;
  max-width: 490px;
  width: calc(100% - 20px);
  display: block;
}

.about__text {
  font-size: var(--lm);
  text-align: center;
}

@media (max-width: 600px) {
  .about__text {
    font-size: var(--m);
  }
}

.cv__ttl {
  font-size: var(--xl);
}

@media (max-width: 1024px) {
  .cv__ttl {
    font-size: var(--l);
  }
}

.cv__ttl--large {
  font-size: 1.5em;
}

.voice__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.voice__box--02 {
  flex-flow: row-reverse;
}

@media (max-width: 768px) {
  .voice__box--02 {
    flex-flow: column;
  }
}

@media (max-width: 768px) {
  .voice__box {
    flex-flow: column;
  }
}

.voice__imgBox, .voice__textBox {
  max-width: 520px;
  width: calc((100% - 40px) / 2);
}

@media (max-width: 1024px) {
  .voice__imgBox, .voice__textBox {
    width: calc((100% - 20px) / 2);
  }
}

@media (max-width: 768px) {
  .voice__imgBox, .voice__textBox {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
  }
}

.voice__imgBox {
  margin-right: 40px;
}

.voice__imgBox--02 {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .voice__imgBox {
    margin-right: 20px;
  }
  .voice__imgBox--02 {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .voice__imgBox {
    margin: 0 auto 20px;
  }
}

.voice__textBox--02 {
  margin-right: 40px;
}

@media (max-width: 1024px) {
  .voice__textBox--02 {
    margin-right: 20px;
  }
}

.voice__head {
  font-size: var(--l);
  margin-bottom: 0.5em;
}

@media (max-width: 1024px) {
  .voice__head {
    font-size: 22px;
  }
}

.voice__company {
  font-size: var(--lm);
  margin-bottom: 0.5em;
  display: inline-block;
}

@media (max-width: 1024px) {
  .voice__company {
    font-size: var(--m);
  }
}

.voice__plan {
  font-size: var(--ms);
}

@media (max-width: 1024px) {
  .voice__plan {
    font-size: 13px;
  }
}

.voice__text {
  font-size: var(--m);
}

@media (max-width: 1024px) {
  .voice__text {
    font-size: var(--ms);
  }
}

/*block--modifireから子孫のblock__elementを変更*/
.card--plan .card__list {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.card--plan .card__item {
  background: var(--white);
  width: calc((100% - 100px) / 3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  max-width: 320px;
  min-height: 320px;
}

.card--plan .card__item:nth-child(odd) {
  margin-right: 0;
}

.card--plan .card__item:nth-child(-n+2) {
  margin-bottom: 0;
}

@media (max-width: 1280px) {
  .card--plan .card__item {
    width: calc((100% - 40px) / 3);
  }
}

@media (max-width: 1024px) {
  .card--plan .card__item {
    min-height: 240px;
    padding: 20px 10px;
  }
}

.card--plan .card__ttl {
  font-size: var(--l);
  margin-bottom: 10px;
}

@media (max-width: 1280px) {
  .card--plan .card__ttl {
    font-size: var(--lm);
  }
}

@media (max-width: 1024px) {
  .card--plan .card__ttl {
    font-size: var(--m);
  }
}

.card--plan .card__text {
  font-size: var(--m);
  margin-bottom: 8px;
}

@media (max-width: 1024px) {
  .card--plan .card__text {
    font-size: var(--ms);
  }
}

.card--plan .card__price {
  font-size: var(--lm);
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .card--plan .card__price {
    font-size: var(--m);
  }
}

.card--plan .card__priceNumber {
  font-size: 36px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .card--plan .card__priceNumber {
    font-size: var(--l);
  }
}

.card--plan .card__annotation {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 1rem;
}
